.small{
    font-size: 65%;
    display: inline;
}
.vsmall{
    font-size: 50%;
}

#groupName{
    border: thin solid;
    padding: 2px;

}

.text{
    font-size: 85%;
}
.comm{
    width: 100%;
}
.d-left{
    text-align: left;
}