.small{
    font-size: 65%;
}
.vsmall{
    font-size: 50%;
}

#groupName{
    border: thin solid;
    padding: 2px;

}

.text{
    font-size: 85%;
}
.comm{
    width: 100%;
}
/* .button{
    background-color: blue;
    color: white;
    text-decoration: none;
    /* display: inline-block; */
    /* font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; Safari */
    /* transition-duration: 0.4s; 
    cursor: pointer;
}
.button1 {
    background-color: grey; 
    color: white; 
  } */